<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title>Client Edit</title>
</head>

<body>
	<section layout:fragment="content">
		<h1>Client Edit</h1>

		<div class="container">
			<form method="post" th:object="${client}">
				<div class="form-group row">
					<label for="clientid" class="col-sm-2 col-form-label">Client ID</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="clientid"
							th:field="*{clientid}" th:errorclass="is-invalid"
							placeholder="Nomor Nasabah">
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('clientid')}" th:errors="*{clientid}">
							Client ID must be filled !</div>
					</div>

				</div>
				<div class="form-group row">
					<label for="clientname" class="col-sm-2 col-form-label">Client Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="clientname"
							th:field="*{clientname}"  th:errorclass="is-invalid" placeholder="Client Name">
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('clientname')}" th:errors="*{clientname}">
							Client Name must be filled !</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="description" class="col-sm-2 col-form-label">Description</label>
					<div class="col-sm-10">
						<input type="description" class="form-control" id="description"
							th:field="*{description}" th:errorclass="is-invalid" placeholder="Description">
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
							Description must be filled !</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-10">
						<button type="submit" class="btn btn-primary">Simpan</button>
					</div>
				</div>
			</form>
</div>
			</form>
		</div>
	</section>
</body>
</html>