<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<head>
<title>Client list</title>
</head>

<body>
	<section layout:fragment="content">
		<h1>Client List</h1>
		
		<a th:href="@{/corporate-h2h/form}" class="btn btn-primary">Insert New Client</a>
		
		<hr>
		<table class="table table-striped">
			<tr>
				<th><a class="sorted" sd:pagination-sort="clientid">Client ID</a></th>
				<th><a class="sorted" sd:pagination-sort="clientname">Client Name</a></th>
				<th><a class="sorted" sd:pagination-sort="description">Description</a></th>
				<th>&nbsp;</th>
			</tr>
			<tr th:each="n : ${listClient}">
				<td th:text="${n.clientid}">123</td>
				<td th:text="${n.clientname}">Endy</td>
				<td th:text="${n.description}">endy@muhardin.com</td>
				<td>
					<a class="btn" th:href="@{/corporate-h2h/form}" >edit</a> 
					<a class="btn" href="view">detail</a></td>
			</tr>
		</table>
		
		<div class="row">
 				<div class="col-sm-6">
 				<div sd:pagination-summary="">info</div>
 			</div>
 			<div class="col-sm-6">
 				<nav class="pull-right">
 					<ul class="pagination" sd:pagination="full">
 						<!-- Pagination created by SpringDataDialect, this content is just for mockup -->
 						<li class="disabled"><a href="#" aria-label="Previous"><span
 								aria-hidden="true">&laquo;</span></a></li>
 						<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
 					</ul>
 				</nav>
 			</div>
 		</div>
		
	</section>
</body>
</html>